############################
# OS files
############################
.DS_Store
Thumbs.db

############################
# IDEs & Editors
############################
.idea/
*.iml
.vscode/
.project
.classpath
.settings/
.factorypath

############################
# Java / Spring Boot
############################
*.class
*.log
*.jar
*.war
*.ear

############################
# Maven
############################
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
.buildNumber

############################
# Gradle
############################
.gradle/
build/

############################
# Angular / Node
############################
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

############################
# Angular build output
#########################
